.KSO {
	-webkit-transition: all .2s ease-out;
	-moz-transition: all .2s ease-out;
	-o-transition: all .2s ease-out;
	transition: all .2s ease-out;
	position: fixed;
	top: 20px;
	bottom: 20px;
	left: 20px;
	right: 20px;
	color: #fff;
	background: rgba(0, 0, 0, .8);
	border-radius: 10px;
	font: 12px/1.5 Arial, sans-serif;
	text-shadow: #000 1px 1px 7px;
}

.KSO_hidden {
	opacity: 0;
	-webkit-transform: scale(1.02);
	-moz-transform: scale(1.02);
	-ms-transform: scale(1.02);
	-o-transform: scale(1.02);
	transform: scale(1.02);
}

	.KSO_inner {
		padding: 20px 5%;
	}

		.KSO_title {
			font-size: 27px;
			line-height: 1;
		}

		.KSO_filter {
			position: absolute;
			top: 20px;
			right: 20px;
			font-size: 14px;
			color: #eee;
		}

			.KSO_filter input {
				color: #eee;
				background: transparent;
				border: 1px solid #999;
				line-height: 1.5;
			}
	
		.KSO_groups {
			position: absolute;
			top: 54px;
			bottom: 20px;
			left: 20px;
			right: 20px;
			overflow: auto;
		}
		
			.KSO_group {
				float: left;
				width: 50%;
				margin-bottom: 30px;
			}
			
				.KSO_group table {
					border-collapse: collapse;
				}
				
				.KSO_group th,
				.KSO_group td {
					padding: 0;
				}
				
				.KSO_group_title {
					color: #ed0;
					font-weight: bold;
					font-size: 16px;
				}
				
					.KSO_shortcuts tr {
						-webkit-transition: opacity .2s;
						-moz-transition: opacity .2s;
						-o-transition: opacity .2s;
						transition: opacity .2s;
						opacity: 1;
					}
	
					.KSO_filtered .KSO_shortcuts tr {
						opacity: .3;
					}
	
					.KSO_filtered .KSO_shortcuts .KSO_matched {
						opacity: 1;
					}
	
						.KSO_shortcuts th {
							text-align: right;
							font-weight: normal;
						}
						
		
						.KSO_shortcuts kbd {
							padding: 0;
							color: #ed0;
							background: transparent;
							border: 0;
						}